<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PrintParPage>5</PrintParPage>
  <MLeft>20</MLeft>
  <MRight>20</MRight>
  <MTop>20</MTop>
  <MBottom>20</MBottom>
  <CAWidth>700</CAWidth>
  <CAHeight>400</CAHeight>
  <TickVal>0.01</TickVal>
  <DecimalP>2</DecimalP>
  <FileNameList />
  <LegendNameList />
</Settings>